*,
*::before,
* ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
  line-height: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:  #E2F1FB;
}

.title {
  color: #0029ff;
  text-align: center;
  font-size: 3rem;
  position: relative;
  padding-bottom: 2rem;
}
.title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  border: 4px solid #0f33ee;
  border-radius: 40px;
}

.conatiner-main {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
  
}
.info {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: relative;
  color: #7B8892;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 700px;
}

.img-people {
  border-radius: 50%;
  width: 190px;
}
.image::before {
  position: absolute;
  content: '';
  width: 311px;
  height: 286px;
  top: 24%;
  bottom: 20%;
  left: 10%;
  border-radius: 20px;
  z-index: -100000;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  position: absolute;
  border: none;
  background-color: none;
  
}
.btn-right {
  top: 50%;
  border-radius: 50%;
  background-color: #CCD9E3;
  color:white;
  left: 80%;
  font-size: 30px;
  transform: translate(50%, -50%);
  padding: 10px 15px;
}
.btn-left {
  background-color: none;
  border-radius: 50%;
  background-color: #CCD9E3;
  color:white;
  font-size: 30px;

  padding: 10px 15px;
  top: 50%;
  left: 13%;
  transform: translate(50%, -50%);

}
.title-name {
  font-size: 20px;
  color: #263037;
}
.job-title {
  font-size: 17px;
  color:#535F67;
}
.btn:hover {
  color: #0f33ee;
}

.information {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.section{
  position: absolute;
  width: 100%;

  transition: transform 1s ease;
 
  overflow: visible;
}


.contaier-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

